
/* Header by ひろふみ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 73px;
    background-color: white;
    border-bottom: solid 1px var(--gray-light-color);
    padding: 0 24px;
    z-index: 10000;
    transition: background-color .3s linear;
    display: flex !important;
    justify-content: space-between;
    transition: background-color .4s linear;
}

.header-nav {
    display: flex; /* 横並びにするためにflexを指定 */
    gap: 70px;
    margin: 8px 0px;
}

.header-navList{
    display: flex;
    list-style: none;
}

.header-navLink {
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: .1em;
    transition: color .3s linear;
    font-size: 24px;
    display: inline-block; /* インラインブロックにすることで中央に寄る */
    margin: 12px;
    text-decoration-line: none;
    color: #18336b;
}

.header-snsList {
    display: flex; /* 横並びにするためにflexを指定 */
    transform:translate(-20px,12px);
    gap: 40px;
    list-style: none;
    margin-right: 40px;
    margin-top: -2px;
    
}
.header-snsImg img{
    max-width: 40px;
    min-width: 40px;
}

.header-line {
    border: solid 2px #66b2ff;
    border-radius: 20px;
    height: 50px;
    width: 280px;
    padding-top: 5px;
    background-color: #e5f2ff;
    margin-top: -5px;
}

.header-line:hover {
    background-color: #95c2ef;
}

.header-line:hover span{
    color: white;
}

.header-line img{
    max-width: 36px;
    min-width: 36px;
    margin-left: 20px;
}

.header-lineLead{
    text-decoration-line: none;
    display: flex;
}

.header-line span{
    margin-left: 20px;
    margin-top: 7px;
    color: #66b2ff;
    font-weight: bold;
}

.header.is-transparent{
    background-color: transparent;
    border: none;
}


.header.is-transparent:not(.is-open) .header-logo{
    filter: brightness(0) invert(1);
}

.header.is-transparent:not(.is-open) .header-navLink{
    color: #FFFFFF;
}

.header.is-transparent:not(.is-open) .header-snsLinktransparent{
    filter: brightness(0) invert(1);
}

.header.is-transparent:not(.is-open) .header-line{
    background-color: white;
    border: solid 2px black;
}

.header.is-transparent:not(.is-open) .header-line span{
    color: black;
}

.header.is-transparent:not(.is-open) .header-line:hover{
    background-color: rgb(186, 186, 186);
}
/*mainvisual by ひろふみ */
.mainvisual {
    position: absolute;
    height: 100vh;
}

.main-item img{
    width: 100%;
    height: 100vh;
}

/*slide by さくら*/
.title{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
    font: bold;
}
.picture{
    margin:0;
    padding: 0;
    list-style: none;
}
.slider{
    width: 94%;
    margin: 0 auto;
}
.slider img{
    width:100%;
    height: auto;
}
.slider .slick-slide{
    margin: 0 10px;
}



/* Activity by なつき */
.Activity{
    margin: 200px 250px;
}
.title{
    border-bottom: 4px solid;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}
.features{
    margin-top: 50px;
}
.feature{
    display: flex;
    margin-bottom: -100px;
}
.feature2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: -100px;
}
.image{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.act-explain{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.act-outline{
    font-size: xx-large;
    font-weight: bold;
}
.act-sentense{
    font-size:large;
}
.real-voice-section{
    height: 800px;
    background-color: chocolate;
}
.real-voice{
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}
.real-voice-img{
    overflow: hidden;
    border-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.real-explain{
    padding-top: 100px;
}

/*video by さくら*/
.video_section{
    margin: 30px;
}
.video_title{
    font-size: 40px;
    text-decoration: pink underline 5px;
    text-align: center;
}
.video{
    text-align: center;
    padding: 20px;
}
.video video{
    width: 60%;
}
.video_lead{
    font-size: 25px;
    text-align: center;
}

/* Daily by よっしー */
.title{
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

.daily-box{
    margin-left: 250px;
    margin-right: 250px;
}

.tab-header{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 30px;
}

.tab-header-item{
    text-align: center;
    flex: 0 0 33.33333%;
    background-color: aqua;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.tab-header-item:hover{
    background: yellow;
    transform: scale(1.1);
    border-radius: 30px;
}

.tab-header-item.active{
    background-color: aquamarine;
}

.tab-body{
    background-color: #e5f2ff;
}

.tab-body-item{
    display: none;
}

.tab-body-item.show{
    display: block;
}

.tab-body-item-description{
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding: 15px;
}

span{
    text-decoration-line: underline;
    font-size: larger;
}

.tab-image-1{
    width: 923px;
    height: 450px;
    object-fit: cover;
}

.tab-image-2{
    width: 923px;
    height: 450px;
    object-fit: cover;
}

.tab-image-3{
    width: 923px;
    height: 450px;
    object-fit: cover;
}


/*special by さくら*/
.special{
    position: relative;
    margin: 120px 0 0;
    padding: 0 7.5vw;
}
.special_head{
    margin: 20px;
    width: 300px;
}
.special_title{
    font-size: 50px;
    font: border;
}
.special_list{
    display: flex;
}
.special-list_item{
    margin: 20px;
}
.special_img img{
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.event_title{
    font-size: 25px;
}

/*LINE登録 by 裕文*/
.line-reg-leadbox {
    padding-top: 40px;
    margin-top: 50px;
    background: url(../img/regisration_line_blue.png) center center / cover no-repeat;
    height: 269px;
}

.line-reg-lead{
    margin-left: 80px;
    font-size: 30px;
    margin-bottom: 70px;
    font-weight: bold;
    color: white;
}

.line-reg {
    border: solid 2px #66b2ff;
    width: 400px;
    height: 78px;
    padding: 10px 10px;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #e5f2ff;
    color: #66b2ff;
}

.line-reg:hover{
    width: 500px;
    background-color: #95c2ef;
    height: 90px;
    color: white;
    font-size: 50px;
}

.line-reg:hover .line-reg-img {
    width: 55px;
    height: 55px;
    margin-bottom: 35px;
}

.line-reg-img {
    width: 45px;
    height: 45px;
    margin-bottom: 28px;
}

/* footer by ひろふみ */
.footer {
    background-color: #e5f2ff;
}

.footer p{
    font-size: 12px;
}